body {
    background-color: #efefef;
    height: 100vh;
}
.wrap {
    margin: 20vh auto 0 auto;
    position: relative;
}

.mainCard {
    text-align: center;
    margin: 0 auto;
    width: 40vw;
    height: 30vh;
    background-color: #fff;
    padding: 8%;
}
.currentWeather {
    margin-bottom: 5%;
}
.currentWeather h1 {
    font-size: 6rem;
}

.cityBtn {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.cityBtn button {
    margin-left: 10px;
    padding: 10px;
    border: 1px soild #999;
    border-radius: 10px;
    background-color: transparent;
}
.fontSpan {
    font-size: 3rem;
    margin-left: 10px;
}

.cityName,
.temp {
    margin-bottom: 2vh;
}

.cityName {
    font-weight: 800;
}

.weatherState {
    margin-top: 5%;
}
